/* Add CSS Styling */
.odd-number {
    background-color: rgb(236, 142, 142);
    font-family: "Verdana, DejaVu Sans", sans-serif;
}

.cooler {
    font-size: 24px;
}

#one-id {
    color: rgb(0,0,255);
    font-size: 36px;
}

#another-id {
    background-color: rgb(144, 221, 144);
    font-size: 24px;
    font-weight: bold;
}