body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
}

.title {
  background: #e3f4ff;
  margin-bottom: auto;
  padding-left: 5px;
}

.content {
  background: #e3f4ff;
  margin: 5px 0px;
  padding: 20px 5px;
}

.button-container {
  padding: 7px 0px 7px;
  background: #e3f4ff;
  margin-top: 16px auto;
  text-align: center;
}

button {
  display: block;
  margin: auto;
  background: white;
  border: 1px solid #eee;
  padding: 5px 20px;
}